.productFilterContainer {
  max-width: 450px;
  margin-right: 20px; /* Margen para separar del contenido principal */
  /* background-color: orange; */
}

.productFilter {
  display: flex;
  flex-direction: column; /* Cambiado de espacio alrededor a columna */
  align-items: flex-start; /* Alineado a la izquierda */
  margin-bottom: 20px;
  min-width: 300px;
  margin-left: 20px;
}

.filterInput {
  margin-bottom: 10px;
}

.productFilter input {
  padding: 8px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  min-width: 280px;
}
.productFilter label {
  font-size: 13px;
  color: gray;
}
.productFilter button {
  padding: 8px 12px;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%; /* Ancho completo */
}
.filterInput button .clearButton {
  margin-left: 8px;
  padding: 4px 8px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}
.buttonContainer {
  width: 100%;
  display: flex;
}
.buttonFiltro {
  width: 80%;
  margin-right: 10px;
}
.buttonDelete {
  width: 18%;
  margin: 0 auto;
}
.buttonFiltro button {
  border-radius: 5px;
  background-color: #4caf50;
}
.buttonDelete button {
  background-color: rgb(247, 243, 243);
}
